[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
mypy = "*"

[packages]
flask = "*"
gpiozero = "*"
python-dotenv = "*"
flask-httpauth = "*"

[requires]
python_version = "3.8"
